<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
	  
    <add name="ConexionHeadMark"
        connectionString="Data Source=190.116.2.69;Initial Catalog=BDLABFAR;Persist Security Info=True;User ID=headmark;Password=N0rd1c06$21"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="PrintPicking" value="\\10.10.0.2\HP LaserJet 425"/>
	  <add key="CodigoSite" value="2"/>
	  <add key="idalmac" value="4"/>
	  <add key="CodigoAlmacen" value="NORA"/>
	  <!--<add key="Empresa" value="HEADMARK CORPORATION SAC"/>-->
	  <add key="Empresa" value="NORDIC PHARMACEUTICAL COMPANY SAC"/>	  
	  <add key="nombreAlmacen" value="NORDIC ATE"/>
	  <add key="nombreSite" value="ATE"/>
	  
  </appSettings>

  
</configuration>

